#eded1{
    width: 100px;
    height: 50px;
    background-color: rgba(102, 102, 233,0.2);
}
#eded2{
    width: 100px;
    height: 50px;
    background-color: rgba(102, 102, 233,0.2);

}
#cavab{
    width: 100px;
    height: 50px;
    background-color:rgba(102, 102, 233,0.2) ;
}
.div{
    width: 800px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.toplama{
    width: 150px;
    height: 50px;
    background-color:rgba(102, 102, 233,0.2) ;

}
.cixma{
    width: 150px;
    height: 50px;
    background-color:rgba(102, 102, 233,0.2) ;

}
.vurma{
    width: 150px;
    height: 50px;
    background-color:rgba(102, 102, 233,0.2) ;

}
.bolme{
    width: 150px;
    height: 50px;
    background-color:rgba(102, 102, 233,0.2) ;
}